:root {
  --brand-hue: 270;
  --brand-saturation: 50%;
  --brand-lightness: 40%;

  --brand1: hsl(var(--brand-hue) var(--brand-saturation) var(--brand-lightness));
  --brand2: hsl(var(--brand-hue) var(--brand-saturation) calc(var(--brand-lightness) * 2.25));
  --brand3: hsl(var(--brand-hue) var(--brand-saturation) calc(var(--brand-lightness) * 2));

  --surface1: hsl(var(--brand-hue) 40% 90%);
  --surface2: hsl(var(--brand-hue) 100% 99%);

  --text1: hsl(var(--brand-hue) 80% 10%);
  --text2: hsl(var(--brand-hue) 10% 20%);

  --fs1: 3rem;
  --fs2: 2.25rem;
  --fs3: 1.75rem;
  --fs4: 1.25rem;
  --fs5: 1rem;
  --fs6: .8rem;

  /* https://easings.net */
  --easing: ease-out-expo;

  @media (prefers-color-scheme: dark) {
    --brand-lightness: 3%;
    --brand-saturation: 30%;

    --brand1: hsl(var(--brand-hue) var(--brand-saturation) var(--brand-lightness));
    --brand2: hsl(var(--brand-hue) var(--brand-saturation) calc(var(--brand-lightness) * 7));
    --brand3: hsl(var(--brand-hue) var(--brand-saturation) calc(var(--brand-lightness) * 12));

    --surface1: hsl(var(--brand-hue) 40% 3%);
    --surface2: hsl(var(--brand-hue) 20% 10%);

    --text1: hsl(var(--brand-hue) 40% 90%);
    --text2: hsl(var(--brand-hue) 10% 80%);
  }
}