:root {
  --brand-hue: 270;
  --brand-saturation: 50%;
  --brand-lightness: 40%;

  --brand1: hsl(var(--brand-hue) var(--brand-saturation) var(--brand-lightness));
  --brand2: hsl(var(--brand-hue) var(--brand-saturation) calc(var(--brand-lightness) * 2.25));
  --brand3: hsl(var(--brand-hue) var(--brand-saturation) calc(var(--brand-lightness) * 2.45));

  --bg9: hsl(0 0% 0%);
  --bg8: hsl(0 0% 2%);
  --bg7: hsl(0 0% 5%);
  --bg6: hsl(0 0% 20%);
  --bg5: hsl(0 0% 50%);
  --bg4: hsl(0 0% 70%);
  --bg3: hsl(0 0% 90%);
  --bg2: hsl(0 0% 95%);
  --bg1: hsl(0 0% 100%);

  --fs1: 3rem;
  --fs2: 2.25rem;
  --fs3: 1.75rem;
  --fs4: 1.25rem;
  --fs5: 1rem;
  --fs6: .8rem;

  /* https://easings.net */
  --easing: ease-out-expo;
}