body {
  background: var(--surface1);
  color: var(--text1);
  font-family: system-ui;
  display: grid;
  place-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
  gap: 2rem;
  padding: 2rem;
}

h1 {
  font-size: var(--fs1);
  font-weight: lighter;
  letter-spacing: 0.2em;
  color: var(--text1);
  text-align: center;
  margin-block-start: 10vh;
  margin-block-end: 10vh;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  & > span {
    font-size: 2em;
  }
}

h2 {
  font-size: var(--fs2);
  font-weight: lighter;
}

a {
  color: var(--text1);
  text-decoration: none;
}

.vid {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block-start: 10vh;

  & > iframe {
    width: 100%;
    max-width: 720px;
    height: 35vh;
  }
}

.cite {
  margin-top: 3rem;
  background: var(--surface1);
  border-radius: 3rem;
  padding: 0 2rem;

  & a {
    color: var(--brand3);
  }
}